
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: bisque;
}

ul
{
    list-style: none;
}
.mainList
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
#img1
{
    width: 200px;
    height: 100px;
    object-fit: cover;
}
.list2
{
    display: flex;
    gap: 20px;
    font-size: 20px;
}
.list3
{
    display: flex;
    gap: 20px;
    align-items: center;
}

button i
{
    font-size: 20px;
    background-color: transparent;  
    color: white;  
}
button
{
    padding: 10px;
    border-radius: 2px;
    background:linear-gradient(red,orange);
    border: 0;
}