.cards
{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 210px;
  align-items: center;
  background-color: red;
  font-size: 15px;
  height: 330px;
  border-radius: 5px;
  color: whitesmoke;
  text-transform: capitalize;
}
img
{
  width: 100px;
  border-radius: 20px;
  margin-top: 20px;
}