:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav ul
{
  display: flex;
  justify-content: space-between;
  list-style: none;
  color: red;
  font-size: 20px;
}

a
{
  text-decoration: none;
}

input
{
  font-size: 15px;
  padding: 10px 20px;
  border-radius: 5px;
}

footer
{
  padding: 20px 0px 0px;
}

ul
{
  list-style: none;
}

footer .list1
{
  display: flex;
  justify-content: space-around;
  list-style: none;
}

footer select
{
  padding: 10px;
}

.list2
{
  display: flex;
  justify-content: space-evenly;
}

footer ul li
{
  padding: 5px 0px;
}

.list4
{
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-content: center;
}

.card
{
  width: 20rem;
    background-color: red;
    border-radius: 10px;
}

.Cards
{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}